/*
    Author: Dilshani;
    Theme: Clothing Web side;
    version: 1.0;
*/

/*Css for All*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    
}


.img-responsive{
    width: 100%;
}
 


.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}

a:hover{
    color: #ff4757;
}

/*Css for the navbar section*/
.logo{
    border: 1px solid black;
    width: 10%;
    float: left;
}





.menu{
    line-height: 30px;
}

.text-right{
    text-align: right;
}

.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* css for the clothing search*/
.clothes-search{
    background-image: url(../images/bg2.jpg);
    padding: 10% 0;
    background-size: cover;
    background-repeat: no-repeat;
    
}

